.table-container {
    margin: auto;
    width: auto;

}

.outer {
    /* margin: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

/* constructor(props) {
    super(props);
    this.state = {
      studentData = [],
      logout = false,
      page= 0,
      rowsPerPage = 10,
    }
  }

  handleChangePage = (event, newPage) => {
    this.setState ({
      page = newPage
    })
  }
  handleChangeRowsPerPage = () => {

  } */