.textBetween {
  display: flex;
  flex-direction: row;
  /* justify-content: center;
  align-items: center; */
  width: 80%;
  font-weight: 600;
}
.textBetween:before, .textBetween:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  
  margin: auto;
}
.textBetween:before {
  margin-right: 10px;
  /* margin-left: 140px; */
}
.textBetween:after {
  margin-left: 10px
}
.info {
  width: "80%";
  display:'flex'; 
  justify-content:'center'; 
  align-items:'center';
  min-height: '200px';
  border: "0.5px solid #D3E2DA";
  border-radius:"25px";
}

.box {
  width: 80%;
  border: 0.5px solid #D3E2DA;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 110px;

}

.container-box {
  padding-left: 120px;
}



@media screen and (max-width: 550px) {
  .textBetween {
    width: 100%;
    font-size: medium;
  }
  .box {
    width: 100%;
    min-height: 200px;
  }
  .container-box {
    padding-left: 10px;
  }
  .grid-item {
    padding: 0px;
    margin: 0px;
  }
  .grid-item p {
    font-size: 15px;
    padding: 0px;
    margin: 5px;
  }
}

.tablecell .hover {
  background-color: #D3E2DA;
}