
.container-verification {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.responsive-table{
  padding: 0;
}
.table-header {
  background-color: cadetblue;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  border-radius: 5px;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #ffffff;
}
/*
li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  } */

  .table-row {
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .col-1 {
    flex-basis: 10%;
  }
  .col-2 {
    flex-basis: 25%;
  }
  .col-3 {
    flex-basis: 40%;
  }
  .col-4 {
    flex-basis: 25%;
  }

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
	height: 100vh;
	margin: auto;
  margin-top: 70px;
}

.menu{
  display: none;
}

@media only screen and (max-width: 700px) {
  .menu{
    display: block;
    position: fixed;
    z-index: 2000000;
    top: 20px;
    right: 20px;
    color: white;
  }
  .mob{
    visibility: none;
  }
}

@media only screen and (max-width: 700px) {
  .Sidebar{
  position: absolute;
  margin-top: 0;
  height: 60%;
  width: 100%;
  opacity: 100%;
  }
  .container{
    display: flex;
  }
}

  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }
    .table-row {
      display: block;
    }
    .col {

      flex-basis: 100%;

    }
    .col {
      display: flex;
      padding: 10px 0;
      &:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }

  }
