.field {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    width: 100%;
  }
  .fieldName {
    font-size: 20px;
    font-weight: 500;
    width: 40%
  }
  .docFieldName{
    font-size: 20px;
    font-weight: 500;
    width: 55%
  }
  .documents{
      display: flex;
      flex-direction: row;
      width: 100%;
  }
  .title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .icon {
    margin-left: 20px;
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  .verify{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .radios{
      display: flex;
      flex-direction: row;
  }
  .radio{
      margin-left: 10px;
  }
  .iconMobile{
      display: flex;
      flex-direction: row;
  }


@media only screen and (max-width: 1070px){
    .field{
        margin-top: 8px;
        font-size: 18px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .fieldName{
        width: 100%
    }
}

@media only screen and (max-width: 1115px){
    .field{
        display: block;
    }
    .icon{
        display: block;
    }
    .iconMobile{
        display: flex;
        flex-direction: row;
    }
    .docFieldName{
        width: 100%;
    }
    .documents{
        display: block;
    }
    .verify{
        display: block;
    }
    .radios{
        display: block;
    }
    .radios{
        margin-left: 0;
    }
}