/* .NavbarItems {
  background-color: cadetblue;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
  border-bottom-width: 2rem;
  border-bottom-color: whitesmoke;
  color: white;
  /* width: 100%;
    top: 0;
    position: fixed; */
/*
.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 50px;
  margin-right: 30px;
  cursor: pointer;
  transition: all 0.2s ease;
  -webkit-transform: scale(1);
  transform: scale(1);
} */

.NavbarItems {
  position: fixed;
  top: 0;
}

.ul-class {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #056676;
}

.li-class {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1px 17px;
  text-decoration: none;
}

/* li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04aa6d;
} */

li a img {
  width: "60px";
  height: "70px";
}

li a p {
  font-size: 23px;
  font-weight: 700;
}
#small-screen {
  display: none;
}
#big-screen {
  display: block;
}

@media screen and (max-width: 840px) {
  /* .NavbarItems {
    height: 80px;
    font-size: 10px;
  }

  .navbar-logo {
    margin-left: 20px;
    margin-right: 20px;
  } */

  .ul-class {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #056676;
    align-items: center;
  }

  .li-class {
    float: left;
    height: 70px;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 5px;
    text-decoration: none;
  }
  li a p {
    font-size: 10px;
    margin: 0ch;
    top: 100px;
  }

  #big-screen {
    display: none;
  }
  #small-screen {
    display: block;
    font-size: 11px;
    padding: 20px 0px;
  }
}
